In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [2]:
train_df=pd.read_csv('train.csv')
test_df=pd.read_csv('test.csv')

In [3]:
impute_value=train_df['Age'].median()

In [5]:
train_df['Age']=train_df['Age'].fillna(impute_value)
test_df['Age']=test_df['Age'].fillna(impute_value)

In [6]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
train_df['IsFemale'] = (train_df['Sex'] == 'female').astype(int)

In [9]:
test_df['IsFemale'] = (test_df['Sex'] == 'female').astype(int)

In [10]:
predictors=['Pclass','IsFemale','Age']

In [12]:
xtrain=train_df[predictors].values
ytrain=train_df['Survived'].values

In [14]:
xtest=test_df[predictors].values

In [15]:
logit=sm.Logit(ytrain, xtrain)

In [16]:
result=logit.fit()

Optimization terminated successfully.
         Current function value: 0.467963
         Iterations 6

In [17]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  891
Model:                          Logit   Df Residuals:                      888
Method:                           MLE   Df Model:                            2
Date:                Mon, 11 Jun 2018   Pseudo R-squ.:                  0.2973
Time:                        21:23:13   Log-Likelihood:                -416.96
converged:                       True   LL-Null:                       -593.33
                                        LLR p-value:                 2.526e-77
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.6764      0.067    -10.123      0.000      -0.807      -0.545
x2             2.6874      0.176     15.254      0.000       2.342       3.033
x3            -0.0033      0.004     -0.754      0.451      -0.012       0.005
==============================================================================
"""

In [23]:
ans=result.predict(xtest)

In [27]:
temp=np.round(ans[:10])

In [28]:
temp

array([0., 1., 0., 0., 1., 0., 1., 0., 1., 0.])